[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

Icon=yast-language
Exec=xdg-su -c "/usr/bin/xterm /usr/bin/language-installer.sh"

Name=Language Installer
GenericName=Install non-English language support to your system
StartupNotify=true

Name[en_US]=Language Installer
