<?xml version="1.0" encoding="utf-8"?>

  <image schemaversion="6.8" name="Lilyum">
     <description type="system">
          <author>Emrecan Şuşter</author>
          <contact>emrecansuster@outlook.com</contact>
          <specification>
              Lilyum project is an Linux distribution which based on OpenSUSE. Lilyum's primary goal are elegancy and Performance
          </specification>
      </description>
      <preferences>
          <type image="iso" primary="true" flags="overlay" squashfscompression="zstd" hybrid="true" firmware="uefi" kernelcmdline="quiet" hybridpersistent_filesystem="ext4" hybridpersistent="true" mediacheck="true"/>
          <version>0.55</version>
          <packagemanager>zypper</packagemanager>
          <locale>en_US</locale>
          <keytable>us.map.gz</keytable>
          <timezone>Europe/Istanbul</timezone>
          <rpm-excludedocs>true</rpm-excludedocs>
          <rpm-check-signatures>false</rpm-check-signatures>
          <bootsplash-theme></bootsplash-theme>
          <bootloader-theme>Lilyum</bootloader-theme>
      </preferences>
      <users>
          <user password="" home="/root" name="root" groups="root"/>
      </users>
    
    	<repository type='rpm-md' alias="Packman" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="90">
        <source path='http://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Tumbleweed/'/>
      </repository>
        	<repository type='rpm-md' alias="Wine" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="91">
        <source path='https://download.opensuse.org/repositories/Emulators:/Wine/openSUSE_Tumbleweed/'/>
      </repository>
			<repository type='rpm-md' alias="KDE:Extra" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="91">
        <source path='http://download.opensuse.org/repositories/KDE:/Extra/openSUSE_Tumbleweed/'/>
      </repository>
			<repository type='rpm-md' alias="YaST:Head" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="91">
        <source path='http://download.opensuse.org/repositories/YaST:/Head/openSUSE_Tumbleweed/'/>
      </repository>
			<repository type='rpm-md' alias="Games:Tools" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="92">
        <source path='http://download.opensuse.org/repositories/games/openSUSE_Tumbleweed/'/>
      </repository>
			<repository type='rpm-md' alias="GoogleChrome" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="98">
        <source path='http://dl.google.com/linux/chrome/rpm/stable/x86_64/'/>
      </repository>
			<repository type='rpm-md' alias="Signal" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="98">
        <source path='https://download.opensuse.org/repositories/network:im:signal/openSUSE_Tumbleweed/'/>
      </repository>
			<repository type='rpm-md' alias="Nvidia" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="89">
        <source path='https://download.nvidia.com/opensuse/tumbleweed/'/>
      </repository>
			<repository type='rpm-md' alias="OpenSUSE_OSS" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="99">
        <source path='https://download.opensuse.org/tumbleweed/repo/oss/'/>
      </repository>
			<repository type='rpm-md' alias="OpenSUSE_Non-OSS" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="99">
        <source path='https://download.opensuse.org/tumbleweed/repo/non-oss/'/>
      </repository>
			<repository type='rpm-md' alias="OpenSUSE_Update" imageinclude="true" package_gpgcheck="false" repository_gpgcheck="false" priority="99">
        <source path='https://download.opensuse.org/update/tumbleweed'/>
      </repository>
    <packages type="image">
        <package name="patterns-base-minimal_base"/>
        <package name="bind-utils"/>
        <package name="systemd"/>
        <package name="iputils"/>
        <package name="vim"/>
        <package name="neovim"/>
        <package name="grub2"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name="grub2-i386-pc"/>
        <package name="syslinux"/>
        <package name="lvm2"/>
        <package name="plymouth"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="openssh"/>
        <package name="iproute2"/>
        <package name="less"/>
        <package name="bash-completion"/>
        <package name="dhcp-client"/>
        <package name="which"/>
        <package name="kernel-default"/>
        <package name="shim"/>
        <package name="zstd"/>
        <package name="kexec-tools"/>
        <package name="calamares"/>
        <package name="xdg-desktop-portal-kde"/>
        <package name="xdg-desktop-portal-kde-lang"/>
        <package name="patterns-kde-kde_plasma"/>
        <package name="dolphin"/>
        <package name="konsole"/>
        <package name="MozillaFirefox"/>
        <package name="MozillaFirefox-branding-upstream"/>
        <package name="dracut-kiwi-live"/>
        <package name="dracut-kiwi-overlay"/>
        <package name="dracut-kiwi-lib"/>
        <package name="dracut"/>   
        <package name="sddm"/>
        <package name="fish"/>
        <package name="sudo"/>
        <package name="e2fsprogs"/>
        <package name="xfsprogs"/>
        <package name="kernel-firmware-all"/>
        <package name="spectacle"/>
        <package name="os-prober"/>
        <package name="kate"/>
    </packages>
    <packages type="bootstrap">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
        <package name="ca-certificates-mozilla"/>
        <package name="openSUSE-release"/>
        <package name="dnf"/>
        <package name="rpm-repos-openSUSE"/>
        <package name="zypper"/>
        <package name="coreutils"/>
        <package name="util-linux"/>
        <package name="timezone"/>
        <package name="gawk"/>
        <package name="sed"/>
        <package name="grep"/>
        <package name="diffutils"/>
        <package name="xz"/>
    </packages>
</image>
