[Desktop Entry]
Comment=Lilyum i\xc3\xa7in bir KDE Temas\xc4\xb1
Name=Lilyum
X-KDE-PluginInfo-Author=Emrecan \xc5\x9eu\xc5\x9fter
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=emrecansuster@outlook.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=Lilyum
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=opensuseturkiye.com
X-KDE-ServiceTypes=Plasma/LookAndFeel
