#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=$HOME/.ekrankilidionleyici.py
Hidden=false
NoDisplay=false
Name[tr_TR]=CalamaresEkranKilidiÖnleyici
Name=CalamaresScreenlockBlocker
Comment[tr_TR]=Calamares çalışırken kran kilidini önler. 
Comment=It block the screen locker while Calamares working.
